<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<link rel="stylesheet" href="../static/style.css">
<body>
<div id="form-container">
    <h2>Create Account</h2>

    {% if messages %}
    <ul style="color:red;">
        {% for msg in messages %}
        <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" action="/signup">
        {% csrf_token %}

        <!-- OAuth Params -->
        {% for key, value in params.items %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}

        <input name="username" placeholder="Username">

        <input name="email" type="email" placeholder="Email">

        <input name="password" type="password" placeholder="Password">

        <input name="confirm_password" type="password" placeholder="Re-enter Password">

        <button type="submit">Create Account</button>
    </form>

</div>

</body>
</html>
