.vscode/
ssoAuthServer/__pycache__/
ssoAuthServer/migrations/
ssoAuthServer/management/commands/__pycache__/
mysite/__pycache__/
ssoAuthServer/keys/
db.sqlite3
*.log
venv/
.env
templates/django-sso-test-library.code-workspace