body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: #020024;
background: linear-gradient(321deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 40%, rgba(0, 212, 255, 1) 100%);
}

#form-container {
    margin: auto;
    width: 300px;
    height: fit-content;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    font-size: 14px;
    border: solid 1px gray;
    border-radius: 5px;
}

button {
    background-color: rgb(15, 15, 15);
    border: solid 1px rgb(83, 83, 83);
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
}

button:hover {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
}