body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

#form-container {
    margin: auto;
    width: 300px;
    height: fit-content;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    font-size: 14px;
    border: solid 1px gray;
    border-radius: 5px;
}

button {
    background-color: rgb(15, 15, 15);
    border: solid 1px rgb(83, 83, 83);
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
}

button:hover {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
}